body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Yeseva One', cursive;
    max-width: 1440px;
    margin: 0 auto;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    width: 207px;
    height: 51px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    outline: 0;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    border-color: white;
}

.logo {
    color:#E3B873;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 9999999;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-navigation {
    list-style: none;
    display: flex;
}
 
.header-navigation__item {
    margin-right: 47px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

.header-navigation__item_tel {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
}

.a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #E3B873;
}

.a_tel {
    color: #E3B873;
}

.hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
    width: 676px;
    padding-right: 140px;
    margin-left: 9%;
}

.title {
    font-family: 'Yeseva One', cursive;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.3;
    margin: 0;
}

.hero__title {
    font-size: 40px;
    color: #FFFFFF;
}

span {
    color: #E3B873;
}

.hero__text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.header_button {
    margin-right: 20px;
}

.projects {
    display: flex;
    background-color: #131313;
    width: 100%;
    min-height: 1074px;
}

.container-projects {
    display: flex;
    width: 1171px;
    height: 552px;
    margin: 107px 135px 416px 134px;
}

.projects__title {
    color: #E3B873;
    max-width: 250px;
    margin-top: 40px;
}

.projects-details {
    display: inline-block;
    width: 442px;
    height: 390px;
}

.projects__text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.projects-photo {
    display: inline-block;
    width: 679px;
    height: 552px;
    margin-right: 138px;
}

.projects-nav {
    display: flex;
    justify-content: space-between;
    padding: 0%;
    margin-left: 50px;
}

.projects-nav__item {
    list-style: none;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.projects-nav__a {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.projects-nav__a:hover {
    color: #E3B873;
    text-decoration: underline;
}

.projects-col {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.symbol {
    display: flex;
    justify-content: space-around;
   margin-top: 70px;
   cursor: pointer;
   width: 50%;
}

.chair {
    margin-top: 45px;
    margin-left: 50px;
}

.subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.control__subtitle {
    margin-top: -270px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.camera {
    display: block;
    margin: auto;
    padding-bottom: 30px;
}

.control__icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 196px;
}

.control__icon::before {
    content: '';
    width: 32px;
    height: 1px;
    background: #E3B873;
    border-radius: 30px;
    top: 30%;
    left: 45%;
}
.control__icon::after {
    content: '';
    width: 32px;
    height: 1px;
    background: #E3B873;
    border-radius: 30px;
    top: 30%;
    right: 45%;
}

.video {
    display: block;
    margin: auto;
    width: 817px;
    height: 434px;
}

.line {
    margin: 0 auto;
    margin-top: 62px;
    margin-bottom: 34px;
    background: #E3B873;
    border-radius: 30px;
    width: 55px;
    height: 1.5px;
}

.control__facility {
    margin: 0 auto;
    width: 476px;
    height: 57px;
    text-align: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.control__facility__i {
    margin: 0 auto;
    width: 681px;
    height: 130px;
    text-align: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.form-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.contact-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-basis: 10%;
    width: 769px;
    height: 51px;
    margin-top: 91px;
    margin-left: 335px;
}

.contact-form_input {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    margin-right: 61px;
}

.contact-form_text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.checkbox {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

.checkbox-input {
    width: 18px;
    height: 18px;
}

.checkbox-label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}

.tick {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.repair__icon {
    position: relative;
}

.repair__icon::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 1px;
    background: #E3B873;
    border-radius: 30px;
    top: 30%;
    left: 45%;
}
.repair__icon::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 1px;
    background: #E3B873;
    border-radius: 30px;
    top: 30%;
    right: 45%;
}

.repair__subtitle {
    color: #181818;
    margin-top: 97px;
}

.container_repair {
    width: 1236px;
    display: flex;
    justify-content: space-between;
}

.redecorating {
    width: 392px;
}

.redecorating-block {
    margin-top: -127px;
    width: 330px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.redecorating_title {
    padding-top: 25px;
    padding-left: 31px;
    padding-bottom: 13px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

h4 {
    margin: 0;
}

.redecorating-nav {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.redecorating-from {
    width: 228px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    padding: 17px 21px;
    color: #FFFFFF;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.format {
    display: flex;
    justify-content: space-between;
    margin-top: 230px;
    min-height: 1091px;
}

.format-block {
    background-image: url('../img/home.jpg');
    height: 725px;
    background-repeat: no-repeat;
}

.checklist {
    margin-left: 224px;
}

.checklist-item {
    display: flex;
    align-items: center;
    margin-top: 102px;
}

.format_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 42px;
    height: 42px;
    background-color: #E3B873;
    border-radius: 100%;
    border: 8px solid white;
    color: white;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}

.format_descr {
    width: 316px;
}

.format_text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.consultation {
    margin-top: 108px;
    height: 509px;
    width: 506px;
    padding: 28px 49px 27px 49px;
    background: #131313;
}

.consultation__descr {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.feed-form {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
}

.input {
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    border: none;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 48px;
}

.input:nth-child(3) {
    margin-bottom: 16px;
}

.label_text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    }

.tick__form {
    margin-top: 16px;
    margin-bottom: 39px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}

.button_form {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
}
.button_form_call {
    margin-left: 200px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pig_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 506px;
    height: 113px;
    margin-top: 84px;
}

.pig_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 72px;
    height: 72px;
    background-color: #E3B873;
    border-radius: 100%;
}

.pig_descr {
    width: 344px;
}

.pig_text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.realize {
    background-image: url('../img/realize.jpg');
    background-size: cover;
    height: 864px;
    position: relative;
}

.realize-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.realize-details {
    display: inline-block;
    margin-top: 99px;
}

.realize__title {
    width: 411px;
    height: 66px;
    z-index: 1;
}

.realize-nav {
    width: 299px;
    height: 516px;
    padding: 0px;
}

.realize-nav__item {
    list-style: none;
}

.realize-nav__item > a {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 38px;
    color: #E3B873;
    cursor: pointer;
}

.realize-photo {
    display: flex;
    justify-content: flex-end;
    margin-top: -750px;
}

.realize-photo_one {
    display: flex;
    flex-direction: column;
    margin-top: -45px;
    margin-bottom: -45px;
    margin-right: 43px;
}

.realize-photo_clock {
    padding-bottom: 35px;
    z-index: 1;
}

.realize-photo_two {
    display: flex;
    flex-direction: column;
    margin-top: -112px;
    padding-bottom: 45px;
}

.realize-photo_sofa {
    padding-bottom: 35px;
}

.clients-cards {
    display: flex;
    justify-content: space-between;
    padding-left: 103px;
    padding-right: 101px;
}

.clients-card {
    margin-top: 39px;
    width: 376px;
    min-height: 455px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.client-card_name_foto {
    display: flex;
    align-items: center;
}

.clients-photo {
    margin-top: 24px;
    align-items: flex-start;
    border-radius: 50%;
    margin-right: 23px;
    margin-left: 20px;
    margin-bottom: 22px;
}

.clients_title {
    width: 178px;
    height: 42px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.clients__icon {
    position: relative;
}

.clients__icon::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 1px;
    background: #E3B873;
    border-radius: 30px;
    top: 30%;
    left: 45%;
}
.clients__icon::after {
    content: '';
    position: absolute;
    width: 32px;
    height: 1px;
    background: #E3B873;
    border-radius: 30px;
    top: 30%;
    right: 45%;
}

.clients_text {
    width: 324px;
    height: 216px;
    margin-left: 20px;
    margin-bottom: 63px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}

.clients-check {
    display: flex;
    justify-content: space-around;
    width: 293px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.clients-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: relative; */
}
/* .clients-space::after {
    content: '';
    position: absolute;
    height: 54px;
    border: 0.75px solid #FFFFFF;
} */
.clients-space__icon{
    margin-right: 15px;
}

.clients__subtitle {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}


.clients-days {
    display: flex;
}

.clients-days__icon {
     margin-right: 15px;
     position: relative;
}

/* .clients-days__icon::after {
    content: '';
    position: absolute;
    height: 54px;
    border: 0.75px solid #FFFFFF;
} */

.questions {
    margin-left: auto;
    margin-right: auto;
    margin-top: 131px;
    margin-bottom: -288px;
    padding: 34px 181px;
    width: 883px;
    background: #131313;
    position: relative;
}

.questions-content {
    width: 520px;
    height: 376px;
}

.questions_descr {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.questions-form_text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.questions-checkbox-label {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}

.questions-content > .questions-button_form {
    display: block;
    margin-top: 50px;
    margin-left: 30%;
    margin-bottom: 34px;
}

.map {
    /* margin-top: 354px; */
    background-image: url(../img/street.jpg);
}
/* 
.map-overlay {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
} */

.container-map {
    display: flex;
    flex-direction: column;
}

.map_icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 279px;
    margin-left: 425px;
    width: 589px;
    height: 199px;
}

.title__map {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #E3B873;
    margin-bottom: 21px;
}
.map_icons__i {
    margin: 0 auto;
    width: 71px;
    height: 28px;
    margin-bottom: 43px;
}

.img-map {
    margin: 0 auto;
    width: 925px;
    height: 465px;
    margin-bottom: 65px;
}

.footer {
    background: #181818;
}

@media screen and (max-width: 1300px) {
    .header-navigation__item {
        display: none;
    }
    
    .header .button {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-around;
    }

    .hero .button {
        width: 90%;
        margin-top: 26px;
    }

    .projects-nav{
        display: none;
    }

    .projects-photo {
        display: flex;
    }

    .chair {
        display: none;
    }

    .projects-details > .projects__text::after {
        content: ' ';
        background-image: url(../img/image2.1.jpg);
        background-size: 50%;
    }

    .symbol {
        display: none;
    }

    .container_contral {
        background-color: #131313;
    }

    .control__subtitle {
        margin-top: -450px;
    }

    .video {
        width: 90%;
    }

    .control__facility__i {
        color: #FFFFFF;
        font-size: 11px;
        width: 340px;
        height: 106px;
        line-height: 169.8%;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }

    .contact-form_text {
        color: rgba(255, 255, 255, 0.5);
    }
    
}
